<!DOCTYPE html>
<html lang="en">

    <title>Profile</title>
</head>
<body>
    <h3> Welcome <%= user.name%></h3>
    <h4>This is user Email:<%= user.email%></h4>
    <h4>This is user Id:<%= user.id%></h4>
    <h4>This is user Country:<%= user.country%></h4>
</html>